*{
	font-family: "Optima", Georgia, Serif;
	font-weight: bold;
	font-size:1em;
}
#container{
	width:1000px;
	margin:5px;
}
#contact_card{
	width:300px;
	height:150px;
	border-style: solid;
	font-size: 2em;
}
.activeInput{
	
}
